.pfp img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 2px solid black;
}

.pfp div {

}

header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.name_and_quote {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name_logo {
    font-family: "Italianno", sans-serif;
    font-size: 128px;
    margin-left: 50px;
    margin-top: 20px;
}

.quote {
    font-size: 20px;
    margin-top: 25px;
}

